*{
    padding:0;
    margin:0;
}

body{
    background-color:black;
    text-align:center;
}

#gridContainer{
    padding: 2em;
    margin:0 auto;
    text-align:center;
    width:192px;
    height:192px;
}


p,a,h1,h2{
    font-family:'Barrio', cursive;
    color:white;
}

h1{
    padding-top: 1em;
}

div{
    color:white;
}

.square{
    width: 10px;
    height: 10px;
    background-color: white;
    margin:1px;
    display:inline-block;
}
