*{
    padding:0;
    margin:0;
}

body{
    background-color:black;
    text-align:center;
}


#gridContainer{
    position:relative;
    padding: 2em;
    margin:10px auto;
    text-align:center;
    width:500px;
    height:500px;
    font-size: 0px;
}


p,a,h1,h2{
    font-family:'Barrio', cursive;
    color:white;
}

h1{
    padding-top: 1em;
}

div{
    color:white;
}

.square{
    width: 5px;
    height: 5px;
    background-color: white;
/*    margin:1px;*/
    display:inline-block;
    font-size: 30px;
}

input[type=button]{
    margin:10px;
    font-family:'Barrio', cursive;
    width:100px;
}

input[id=rainbow]{
    background-color:pink;
}