*{
    padding:0;
    margin:0;
}

body{
    background-color:black;
    text-align:center;
}

#gridContainer{
    padding: 2em;
    margin:0 auto;
    text-align:center;
}


p,a,h1,h2{
    font-family:'Barrio', cursive;
    color:white;
}

h1{
    padding-top: 1em;
}

div{
    color:white;
}

.square{
    width: 2em;
    height: 2em;
    background-color: blue;
    display:inline-block;
}

.square1{
    width: 2em;
    height: 2em;
    background-color: blue;
    display:block;
}